body {
    background-color: #1a1a1a; /* Fondo oscuro agradable */
    color: #ffffff; /* Texto blanco */
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ffffff; /* Borde blanco */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333333; /* Encabezado oscuro */
}

tr:nth-child(even) {
    background-color: #282828; /* Fondo de fila par más oscuro */
}

a {
    color: #ff9800; /* Enlace con color cálido */
}

a:hover {
    color: #ffcc80; /* Color de enlace al pasar el ratón */
}

h1, h2, h3, h4, h5, h6 {
    color: #ff9800; /* Encabezados con color cálido */
}

ul, ol {
    list-style-type: none;
}

li {
    margin: 5px 0;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #343a40; /* Fondo oscuro para el botón */
    color: #ffffff; /* Texto blanco */
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.boton:hover {
    background-color: #1d2124; /* Color más oscuro al pasar el ratón */
}
